{{ form_start(form) }}

<div class="mb-3">
    {{ form_label(form.name, 'Genre Name', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.name) }}
</div>

<div class="mb-3">
    {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.description) }}
</div>

<div class="mb-3">
    {{ form_label(form.books, 'Books', {'label_attr': {'class': 'form-label'}}) }}
    <div class="form-group">
        {% for book in form.books %}
            <div class="form-check form-check-inline">
                {{ form_widget(book, {'attr': {'class': 'form-check-input'}}) }}
                {{ form_label(book, null, {'label_attr': {'class': 'form-check-label'}}) }}
            </div>
        {% endfor %}
    </div>
    {{ form_errors(form.books) }}
</div>

<button class="btn btn-primary">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
